include README.md *.toml
include LICENSE
include CONTRIBUTORS.txt
recursive-include braces *.py
recursive-include docs Makefile conf.py *.rst
recursive-include tests *.py
recursive-include tests/templates *.html
include conftest.py tox.ini requirements.txt
prune docs/_build
