include README.md *.toml
include CONTRIBUTORS.txt LICENSE.txt
recursive-include braces *.py
recursive-include docs Makefile conf.py *.rst
recursive-include tests *.py
include conftest.py
prune docs/_build
